./media/
./tex
*.pyc
*.bak
.DS_Store
homeless.py
playground.py
cairo_test.py
mayavi_test.py
random_scenes/
files/
ben_playground.py
ben_cairo_test.py
.floo
.flooignore
*.xml
*.iml
manim.sublime-project
manim.sublime-workspace
.idea/
primes.py
/media_dir.txt
Videos/
videos/
media/
*.mp4
.vscode/
Tex/
zeta.py
*.swp
shirt.py
